= form_for [:admin, @event] do |f|

  .row-fluid
    .span8
      = f.label :title
      = f.text_field :title
      = show_message_if_error(@event, :title)

      = f.label :description
      = f.text_area :description
      = show_message_if_error(@event, :description)

      = f.label :event_category_id
      = f.select :event_category_id, @categories.collect{|c| [c.title, c.id]}
      = show_message_if_error(@event, :category_id)

      = f.label :start_at
      = f.datetime_select :start_at, :order => [:hour, :minute, :day, :month, :year]
      = show_message_if_error(@event, :start_at)

      = f.label :end_at
      = f.datetime_select :end_at, :order => [:hour, :minute, :day, :month, :year]
      = show_message_if_error(@event, :end_at)


      = f.label :published
      = f.check_box :published
      = show_message_if_error(@event, :published)

      = f.label :user_can_participate
      = f.check_box :user_can_participate
      = show_message_if_error(@event, :user_can_participate)

      .clearfix
        = f.submit "Salvar", :class => "btn btn-primary"

    .span4
      = f.label :body
      = render :partial => 'shared/editor_toolbar'
      = f.text_area :body
      = show_message_if_error(@event, :body)

- content_for :javascript do
  :javascript
    var editor = new wysihtml5.Editor("event_body", {
      toolbar:      "editor-toolbar",
      parserRules:  wysihtml5ParserRules
    });

