= form_for([current_user, @album]) do |f|

  = f.label :title
  = f.text_field :title
  = show_message_if_error(@album, :title)

  = f.label :description
  = f.text_area :description
  = show_message_if_error(@album, :description)

