<% content_for :title, I18n.t("devise.sign_in") %>
<h2><%= I18n.t("devise.sign_in") %></h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div id="login-fields"> 
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div id="login-remember">
    <%= f.submit "Entrar", :class => "btn btn-primary" %>

    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %> <%= f.label "Permanecer logado?" %>
    <% end -%>
  </div>

<% end %>

<%= render :partial => "devise/shared/links" %>

