- content_for :menu do
  = render :partial => "users/menu-edit"

- content_for(:page) do
  - content_for :title, "Alterar Foto"


  %h1
    Alterar Foto
  
  .avatar-example
    = image_tag @user.avatar.example.url, :id => "avatar_view"
  
  = form_for(@user, :as => 'user', :url => avatar_path(@user), :html => {:method => :put, :multipart => true}) do |f|
  
    = f.label :avatar
    = f.file_field :avatar
    = show_message_if_error(@user, :avatar)
  
    .clearfix
      = f.submit "Enviar", :class => "btn btn-primary"
  
  #webcam-wrap
    #webcam
    
    %input{:type => "button", 
           :value => "Tire uma foto", 
           :id => 'take-photo',
           :disabled => true,
           :class => "btn btn-primary"}
  
= render :partial => "shared/header"

