= form_for([current_user, @album, @photo],
           :html => {:multipart => true}) do |f|

  = f.label :image
  = f.file_field :image
  = show_message_if_error(@photo, :image)

  = f.label :title
  = f.text_field :title
  = show_message_if_error(@photo, :title)

  = f.label :description
  = f.text_area :description
  = show_message_if_error(@photo, :description)

