- content_for(:menu) do
  = render :partial => "users/menu-show"

- content_for(:page) do
  - content_for :title, "Foto #{@photo.title}"

  %h1
    Foto #{@photo.title}

  = link_to user_album_photo_path(current_user.login, @album, @photo) do
    Anterior

  #photo-wrapper
    = image_tag @photo.image.album.url

  #photo-infos-wrapper
    %span.info-attr
      Publicado em: 
    #{l @photo.created_at, :format => :long, :locale => "pt-BR"}

  #photo-description-wrapper
    = raw (@photo.description || '').gsub("\n", "</br>")

  = link_to user_album_photo_path(current_user.login, @album, @photo) do
    Próximo

= render :partial => "shared/header"

