- content_for :title, "Lista de Categorias de Evento"
.page_header
  %h1
    Lista de Categorias de Evento

.well
  = link_to "Adicionar Evento", new_admin_event_path, {:class => "btn btn-primary"}
  = link_to "Adicionar Categoria", new_admin_event_category_path, {:class => "btn btn-primary"}

%table.table.table-bordered.table-striped
  %tr
    %th
      Título
    %th
      Ícone
    %th
      Criado em
    %th
      &nbsp;
    %th
      &nbsp;
      
  - @event_categories.each do |e|
    %tr
      %td
        = e.title
      %td
        = e.icon_name
      %td
        = l e.created_at, :format => :long, :locale => "pt-BR" 
      %td
        = link_to "editar", edit_admin_event_category_path(e)
      %td
        = link_to "remover", admin_event_category_path(e), :method => :delete, :confirm => "você tem certeza?"

= paginate @event_categories

