%html
  %head
    %title= "#{yield :title} - Xurisso Community"
    = csrf_meta_tag 

    /[if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'

    = stylesheet_link_tag :application, media: 'all'

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .nav-collapse
            %ul.nav
              %li{:class => site_active("dashboard", "index")}
                = link_to "Home", root_path, :class => "menu-item"
              %li{:class => site_active("events", "index")}
                = link_to "Calendário", events_path, :class => "menu-item"
              %li{:class => site_active("messages", "index")}
                = link_to "Mensagens", user_messages_path(current_user.login), :class => "menu-item"
              %li{:class => site_active("users", "index")}
                = link_to "Membros", users_path, :class => "menu-item"
              %li{:class => site_active("groups", "index")}
                = link_to "Grupos", groups_path, :class => "menu-item"
              %li.pull-right
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.normal-link.dropdown-toggle{href: "#", 'data-toggle' => :dropdown}
                  Usuário
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to "Meu Perfil", edit_user_path(current_user), :class => "dropdown-item"
                  %li
                    %span.dropdown-no-link
                      Notificações
                    %span.badge
                      = notifications_count
                  %li
                    #notifications-container

                  %li.divider
                    %li= link_to 'Sair', destroy_user_session_path, 
                      class: "normal-link", method: 'delete'

    .container
      .content
        #page-content.row
          = yield
      %footer
    #notice-msg
      %p
        Carregando
 

  = javascript_include_tag :application
        
  = yield :javascript 

