%html
  %head
    %title= "#{yield :title} - Xurisso Community"
    = csrf_meta_tag 

    /[if lt IE 9]
      = javascript_include_tag 'http://html5shim.googlecode.com/svn/trunk/html5.js'

    = stylesheet_link_tag :login, :media => 'all'

  %body

    .login-container

      .form-signin
        - if alert
          %div{:class => "alert alert-error fade in"}
            = alert

        - if notice 
          %div{:class => "alert success fade in"}
            = notice

        = yield

      %footer

  = yield :javascript 

